.achTitle{
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 0, 0, 0, 3);
}
#header{
    -fx-font-weight: bold;
    -fx-font-size: 56;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 0, 0, 0, 3);
}
.achDescription{
    -fx-font-style: italic;
    -fx-padding: 10 10 10 10;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-color: #a32243;
    -fx-border-color: #a32243;
    -fx-border-width: 5px;
}

#achievement0, #achievement1, #achievement2, #achievement3, #achievement4, #achievement5, #achievement6, #achievement7, #achievement8, #achievement9, #achievement10, #achievement11 {
    -fx-padding: 30, 0, 30, 0;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 2, 2, 2, 2);
}
