.root{
    -fx-background-image: url("../icons/first_background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
}
#actionTarget{
    -fx-font-family: Calibri;
    -fx-font-size: 18;
    -fx-font-style: italic;
    -fx-fill: #FF0033;

}
.GridPane{
    -fx-max-height: 50%;
    -fx-max-width: 50%;
    -fx-background-position: center;

}
.button{
    -fx-text-fill: white;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-background-color: #a32243;
    -fx-font-size: 20;
}
.button:hover {
    -fx-background-color: #A0596B;
}
#loginText{
    -fx-font-size: 50;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-text-alignment: center;

    -fx-text-fill: white;
}
.label{
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box, rgb(41, 41, 41) , 0 , 0 , 0 , 1);
}

#pass,#confirmPass,#username,#secretQuestion,#secretAnswer,#newPass,#confirmNewPass,#oldPass {
    -fx-background-color: rgba(255, 255, 255, 0.493);
}

