.root{
    -fx-background-image: url("../icons/blur_background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
    -fx-border-color: FIREBRICK;
    -fx-border-width: 0 0;

}
.HBox{
    -fx-max-width: 100%;
    -fx-max-height: 20%;
}
#navBar{
    -fx-background-color:  	#4B0082;
}
#home,#howToPlay,#aboutUs,#personalInfo{
    -fx-text-fill: white;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-background-color: rgb(82, 136, 81);
    -fx-font-size: 20;
    -fx-fill-height: true;
}

#review:hover {
    -fx-background-color: #78c292;
}


#home:hover, #howToPlay:hover, #aboutUs:hover,#personalInfo:hover {
    -fx-background-color: #78c292;
}

#howToTitle {
    -fx-font-weight: bold;
    -fx-font-size: 55;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 0, 0, 0, 3);
    -fx-padding: 30, 0, 30, 0;
}

#howToText {
    -fx-font-size: 25;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 0, 0, 0, 3);
}

#howToImage {
    -fx-padding: 30, 0, 30, 0;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 3, 3, 3, 3);
}

#aboutSceneText {
    -fx-font-size: 25;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 0, 0, 0, 3);
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: transparent;
}
#featuresList{
    -fx-background-color: transparent;
}

.list-cell{
    -fx-background-color: transparent;

}
#featuresList .text-field {
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 0, 0, 0, 3);
}
#featuresList .label{
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box, rgb(41, 41, 41) , 0 , 0 , 0 , 1);
}

#userSection .label{
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 24;
    -fx-text-fill: lightgreen;
    -fx-effect: dropshadow( three-pass-box, rgb(41, 41, 41) , 0 , 0 , 0 , 1);
}

#LeaderBoard {
    -fx-background-color: #191970;
}

