.root{
    -fx-background-image: url("../icons/blur_background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
    -fx-border-color: FIREBRICK;
    -fx-border-width: 0 0;

}
.HBox{
    -fx-max-width: 100%;
    -fx-max-height: 20%;
}
#navBar{
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10;


}
#home,#howToPlay,#aboutUs,#personalInfo,#friendsListBtn,#achievementsBtn{
    -fx-text-fill: white;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-background-color: #a32243;
    -fx-font-size: 24;
    -fx-fill-height: true;
}


#home:hover, #howToPlay:hover, #aboutUs:hover,#personalInfo:hover,#friendsListBtn:hover,#achievementsBtn:hover {
    -fx-background-color: #A0596B;
}

#howToTitle, #homeTitle, #aboutTitle, #editProfileTitle{
    -fx-font-weight: bold;
    -fx-font-size: 55;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 0, 0, 0, 3);
    -fx-padding: 30, 0, 30, 0;
}

#howToText, #aboutSceneText {
    -fx-font-size: 25;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 0, 0, 0, 3);
}

#howToImage {
    -fx-padding: 30, 0, 30, 0;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 3, 3, 3, 3);
    -fx-alignment: CENTER;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: transparent;
}
#featuresList{
    -fx-background-color: transparent;
}

.list-cell{
    -fx-background-color: transparent;

}

#featuresList .label{
    -fx-font-size: 30;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box, rgb(41, 41, 41) , 0 , 0 , 0 , 1);
}
#pointsEarnedLabel{
    -fx-font-family: "Sans serif";
    -fx-font-style: italic;
    -fx-font-size: 30;
}
#greetingsText{
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 24;
    -fx-text-fill: #A0596B;
    -fx-effect: dropshadow( three-pass-box, rgb(41, 41, 41) , 0 , 0 , 0 , 1);
    -fx-padding: 10 0 0 0;
}


#featuresIconVeggie, #featuresIconBike, #featuresIconProduce, #featuresIconBus, #featuresIconSolar, #featuresIconTemps {
    -fx-padding: 30, 0, 30, 0;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 3, 3, 3, 3);
}


#featuresIconVeggie {
    -fx-image: url("../icons/iconVegetarianMeal.png");
}
#featuresIconVeggie:hover {
    -fx-image: url("../icons/iconVegetarianMealText.png");
}


#featuresIconBike {
    -fx-image: url("../icons/iconBikeCar.png");
}
#featuresIconBike:hover {
    -fx-image: url("../icons/iconBikeCarText.png");
}


#featuresIconProduce {
    -fx-image: url("../icons/iconLocalProduce.png");
}
#featuresIconProduce:hover {
    -fx-image: url("../icons/iconLocalProduceText.png");
}


#featuresIconBus {
    -fx-image: url("../icons/iconBusCar.png");
}
#featuresIconBus:hover {
    -fx-image: url("../icons/iconBusCarText.png");
}


#featuresIconSolar {
    -fx-image: url("../icons/iconSolarPanels.png");
}
#featuresIconSolar:hover {
    -fx-image: url("../icons/iconSolarPanelsText.png")
}


#featuresIconTemps {
    -fx-image: url("../icons/iconLowerTemps.png")
}
#featuresIconTemps:hover {
    -fx-image: url("../icons/iconLowerTempsText.png")
}



#increaseVegetarianMealsBtn, #increaseBicycleUsageBtn, #increaseLocalProduceBtn, #increaseBusUsageBtn, #increaseSolarPanelsBtn, #increaseLowerTempsBtn{
    -fx-text-fill: white;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-background-color: #a32243;
    -fx-font-size: 20;
    -fx-fill-height: true;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 1, 2, 2, 2);
}

#increaseVegetarianMealsBtn:hover, #increaseBicycleUsageBtn:hover, #increaseLocalProduceBtn:hover, #increaseBusUsageBtn:hover, #increaseSolarPanelsBtn:hover, #increaseLowerTempsBtn:hover{
    -fx-background-color: #A0596B;
}

#avatarImageView {
    -fx-padding: 30, 0, 30, 0;
    -fx-effect: dropshadow(three-pass-box, rgb(41, 41, 41), 2, 2, 2, 2);
}

.text-field {
    -fx-background-color: rgba(255, 255, 255, 0.493);
}

#infoLabel{
    -fx-font-style: italic;
    -fx-padding: 10 10 10 10;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-color: #a32243;
    -fx-border-color: #a32243;
    -fx-border-width: 5px;
}

#oldPasswordLabel {
    -fx-padding: 30 0 0 0;
}
#dropHereLabel{
    -fx-font-size: 18;
    -fx-padding: 10;
    -fx-text-fill: #a32243;
    -fx-background-color: red;
}